name: Auto-Update Latest Release

on:
  push:
    branches: [ "main" ]

permissions:
  contents: write

jobs:
  update-release:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        pip install -r .github/requirements.txt

    - name: Generate Images
      run: |
        python .github/scripts/generate_images.py

    - name: Update Latest Release
      uses: ncipollo/release-action@v1
      with:
        tag: latest
        name: Latest Graphs
        artifacts: "output_charts/*.png"
        allowUpdates: true
        removeArtifacts: true
        makeLatest: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
