name: Auto-Update Latest Release

on:
  push:
    branches: [ "main" ]

permissions:
  contents: write

jobs:
  update-release:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        pip install -r .github/requirements.txt

    - name: Generate Images
      run: |
        python .github/scripts/generate_images.py

    - name: Update "Latest" Release
      uses: softprops/action-gh-release@v1
      with:
        tag_name: latest  
        name: Latest Graphs   
        files: output_charts/*.png
        draft: false
        prerelease: false
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
